In [1]:
a=10
if a==10:
    print("this is m first cindition")

this is m first cindition

In [2]:
a=10
if a==11:
    print("this is m first cindition")

In [3]:
a=10
if a>10:
    pass

In [4]:
a=10
if a<10:
    print("this is m first cindition")

In [5]:
a=10
if a!=11:
    print("this is m first cindition")
else:
    print("print this")

this is m first cindition

In [6]:
a=10
if a!=10:
    print("this is m first cindition")
else:
    print("print this")

print this

In [8]:
a = 10
if a == 12:
    print("here we are trying to compare 10 with 12")
elif a == 10:
    print("we are trying to compare 10 with 11")
else:
    print("if all block will fail then do this")

we are trying to compare 10 with 11

In [11]:
price = 500
if price > 500:
    print(" i won't be able to buy the jacket")
elif price < 500:
    print("i will be able to buy the jacket")
elif price == 500:
    print(" for sure i will buy the jacket")
else:  
    print("i don't know")

 for sure i will buy the jacket

In [12]:
price > 500

False

In [13]:
price == 500

True

In [14]:
l=[1,2,3,4,5]

In [16]:
2 in l

True

In [18]:
if 2 in l:
    print("try to perform the task")
else:
    print("do not perform the task")

try to perform the task

In [19]:
if 30 in l:
    print("try to perform the task")
else:
    print("do not perform the task")

do not perform the task

In [20]:
l

[1, 2, 3, 4, 5]

In [24]:
if 1 in l:                          # if the first condition is true then it do not check the other conditions 
    print("try to do addition")     # it dosen't matter that other codition are true or false
elif 2  in l:
    print("try to do sub")
else:
    print("try to od multi")

try to do addition

In [25]:
if 10 in l:                          # if the first condition is true then it do not check the other conditions 
    print("try to do addition")     # it dosen't matter that other codition are true or false
elif 2  in l:
    print("try to do sub")
else:
    print("try to od multi")

try to do sub

In [27]:
if 1 in l:                          # if the first condition is true then it do not check the other conditions 
    print("try to do addition")     # it dosen't matter that other codition are true or false
elif 2  in l:
    print("try to do sub")
else:
    print("try to od multi")
if 4 in l:
    print("this is new statement")

try to do addition
this is new statement

In [28]:
     a=100

In [32]:
b=int(input()) # input command can take the input from the user in runtime

1253

In [33]:
type(b)

int

In [35]:
b=int(input())

xkfjbg

ValueError: invalid literal for int() with base 10: 'xkfjbg'

In [8]:
price = int(input())
if price < 500:
    print("i will be able to buy something")
    if price < 400:
        print("i will be able to buy a jacket")
    elif price < 300:
        print("i will be able to buy a shirt")
else : 
    print("i won't be able to buy anything with this price tag\
    ")

850
i won't be able to buy anything with this price tag

In [10]:
price = int(input())
if price < 500:
    print("i will be able to buy something")
    if price < 400:
        print("i will be able to buy a jacket")
    elif price < 300:
        print("i will be able to buy a shirt")
else : 
    print("i won't be able to buy anything with this price tag")

450
i will be able to buy something

In [17]:
marks = int(input())
if marks < 600:
    print("no gre")
    if marks < 500:
        print("i will apply for toffel")
        if marks < 400:
            print("try somthing")
else:
    print("i will able to get admission in GRE")

300
no gre
i will apply for toffel
try somthing

In [19]:
val = float(input("enter a floating point number : "))
if val >=0 :
    if val == 0:
        print("enterd value is zero")
    else:
        print("enter value is positive number ")
else: 
    print("enterd number is negative number ")

enter a floating point number : -45
enterd number is negative number

In [22]:
a = 10 
if a < 10 or a == 10 :
    print("try to do something")

try to do something

OR TABLE      AND TABLE 
F  F - F     F  F - F 
T  T - T     T  T - T
T  F - T     T  F - F
F  T - T     F  T - F

In [24]:
 a = 10 
if a < 10 and a == 10 :
    print("try to do something")
else:
    print("don't do anything")

don't do anything

In [25]:
a = "sudh"
if a == "sudh" or a == "Sudh":
    print("this is sudh")

this is sudh

In [28]:
a = "sudh"
if a == "sudh" and a == "Sudh":
    print("this is sudh")

In [29]:
a = 10
b = 11
c = 12
d = 13
if a == 9 and b == 11 and c == 12 and d == 13:
    print("do something")

In [30]:
a = 10
b = 11
c = 12
d = 13
if a == 9 or b == 11 and c == 12 and d == 13:
    print("do something")

do something

In [31]:
d = {'key1' : "value" , "key2" : "sudh" , "key3" : "iNeuron"}

In [34]:
if d['key1'] ==  "value" and d["key2"] == "sudh" and d["key3"] == "iNeuron":
    print("all the value are verified")
    print(d.values())
else:
    print("all the values are not verified")

all the value are verified
dict_values(['value', 'sudh', 'iNeuron'])

In [35]:
if d['key1'] ==  "value" and d["key2"] == "Sudh" and d["key3"] == "iNeuron":
    print("all the value are verified")
    print(d.values())
else:
    print("all the values are not verified")

all the values are not verified

In [36]:
l = [1,1.4,2,3,4,5,6,"vish"]

In [37]:
type(l)

list

In [38]:
for i in l:
    print(i)

1
1.4
2
3
4
5
6
vish

In [39]:
for i in l:
    print(i+1)

2
2.4
3
4
5
6
7

TypeError: can only concatenate str (not "int") to str

In [41]:
for i in l:
    if type(i) == int:
        print(i+1)
    elif type(i) == str:
        print(i + str(1))
    elif type(i) == float:
        print(i + float(1))

2
2.4
3
4
5
6
7
vish1