In [1]:
l = [1,2,3,4,"sudh" ,"kumar" , 45.56]

In [2]:
for i in l :
    print(i)

1
2
3
4
sudh
kumar
45.56

In [3]:
for i in l :
    pass

In [4]:
 s = "sudh"
for i in s :
    print(i)

s
u
d
h

In [5]:
for i in l :
    print(i)
else :
    print("if for loop is going to complete itself the it will execute else ")

1
2
3
4
sudh
kumar
45.56
if for loop is going to complete itself the it will execute else

In [6]:
l

[1, 2, 3, 4, 'sudh', 'kumar', 45.56]

In [8]:
for i in l:
    if i == 4:
        break
    print(i)
else:
    print("")

1
2
3

In [9]:
s = "sudhanshu"
for i in s :
    if i == 'z' :
        break
    print(i)
else :
    print("print srtring " , s )

s
u
d
h
a
n
s
h
u
print srtring  sudhanshu

In [10]:
t = (4,5,6,7,8,6,"sudh")
for i in t :
    print(i)

4
5
6
7
8
6
sudh

In [11]:
b = {4,5,6,7,7,7,7,7,7,7,7, 8,"sudh"}

In [12]:
type(b)

set

In [13]:
b

{4, 5, 6, 7, 8, 'sudh'}

In [14]:
for i in b :
    print(i)

4
5
6
7
8
sudh

In [15]:
d = {'key1' :"sudh" , 'contact' : "sudhanshu@ineuron.ai" , "position" : "xyz"}

In [16]:
for i in d:     # this is to print keys
    print(i)

key1
contact
position

In [17]:
for i in d:     # this is to print values 
    print(d[i])

sudh
sudhanshu@ineuron.ai
xyz

In [18]:
for i in d:    # this is to print both keys and values 
    print(i,":",d[i])

key1 : sudh
contact : sudhanshu@ineuron.ai
position : xyz

In [19]:
range(9)

range(0, 9)

In [20]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [21]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [22]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [23]:
list(range(0,9,-1))

[]

In [25]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [26]:
n =4
for i in range(4):
    for  j in range (0,i+1):
        print("vish " , end = "")
    print("\n")

vish

vish vish

vish vish vish

vish vish vish vish

In [27]:
n = 3
for i in range(n):
    for j in range(i,n-1):
        print(" " *len("vish"),end = "   ")
    for j in range(i+1): 
        print("vish",end = "   ")
    for j in range(i):
        print("vish",end = "   ")
    print("\n")

              vish

       vish   vish   vish

vish   vish   vish   vish   vish

In [28]:
t = (1,2,34,24,2,4,54)

In [29]:
len(t)

7

In [30]:
list(range(len(t)))

[0, 1, 2, 3, 4, 5, 6]

In [31]:
for i in range(len(t)):
    print(i,t[i])

0 1
1 2
2 34
3 24
4 2
5 4
6 54

In [32]:
s = "vishal"
for i in range(len(s)):
    print(i,s[i])

0 v
1 i
2 s
3 h
4 a
5 l

In [33]:
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

5 l
4 a
3 h
2 s
1 i
0 v

In [34]:
d

{'key1': 'sudh', 'contact': 'sudhanshu@ineuron.ai', 'position': 'xyz'}

In [35]:
for i in d.items():
    print(i,type(i),type(i[1]))

('key1', 'sudh') <class 'tuple'> <class 'str'>
('contact', 'sudhanshu@ineuron.ai') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [36]:
l = ["vish","kumar",654631,"rgwtwh",6846,56444]

In [37]:
l1 = []                    # to print onlye numeric data from the list
for i in l:
    if type(i) == int:
        l1.append(i)
print(l1)

[654631, 6846, 56444]

In [38]:
d = {45 : 1254 , " name" : "vish" , "contact" : "bhu@xyz.com" , 1254789 : 12547 , 345 : 365678587 }

In [39]:
for i in d:
    if type(i) == int:
        print(i , ":" , d[i])

45 : 1254
1254789 : 12547
345 : 365678587

In [40]:
s = "aaaabbccd"

In [41]:
set(s)

{'a', 'b', 'c', 'd'}

In [42]:
for i in set(s):
    print(i ,":" , s.count(i))

d : 1
c : 2
b : 2
a : 4

In [43]:
i = 122245857896

In [44]:
for j in i :
    print(j)

TypeError: 'int' object is not iterable

In [45]:
str(i)

'122245857896'

In [46]:
for j in str(i) :
    print(j , type(int(j)))

1 <class 'int'>
2 <class 'int'>
2 <class 'int'>
2 <class 'int'>
4 <class 'int'>
5 <class 'int'>
8 <class 'int'>
5 <class 'int'>
7 <class 'int'>
8 <class 'int'>
9 <class 'int'>
6 <class 'int'>

In [47]:
t = ("sudh" , "kumar" ,[1,2,3,4,5] , (3,4,5,6) , {3:3 , "key2" :"kumar"})

In [48]:
for i in t:
    if type(i) == list or type(i) == tuple or type(i) == dict:
        for j in i :
            if j == 3:
                print(j)

3
3
3

In [49]:
for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :                       # methot to print both the three present in the dict 
            if j == 3 :
                print(j)
    if type(i) == dict :
        for k,v  in i.items():
            if k == 3 or v == 3 :
                print(k)
                print(v)

3
3
3
3

In [50]:
d = {4:5,"name":"vishal","key1":"vish","key2":"sudh"}

In [51]:
d.items()

dict_items([(4, 5), ('name', 'vishal'), ('key1', 'vish'), ('key2', 'sudh')])

In [52]:
for i in d.items():
    print(i)

(4, 5)
('name', 'vishal')
('key1', 'vish')
('key2', 'sudh')

In [53]:
a = 10
b = 20
c = 30

In [54]:
a,b,c = 10,20,30

In [55]:
a,b,c = (10,20,30  )